<!DOCTYPE html>
<html lang="ko">
<head>
  <title>긍정 부정</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>
<body>

<div class="container-fluid">
  <div class="inner">
        <h2>긍정 부정 문장 확인</h2>
        <div class="">
            <form role="form">
                <div class="form-group">
                    <textarea rows="4" cols="100"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                  </div>
            </form>
        </div>
  </div>
</div>

</body>
</html>